<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <mat-grid-list
    cols="{{ (cardLayout | async)?.columns }}"
    rowHeight="140px"
    gutterSize="20px"
  >
    <mat-grid-tile
      *ngFor="let mc of miniCardData; let i = index"
      [colspan]="(cardLayout | async)?.miniCard?.cols"
      [rowspan]="(cardLayout | async)?.miniCard?.rows"
    >
      card {{ i + 1 }}
      <br />
      <pre *ngIf="i === 1">{{ obj | json }}</pre>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="(cardLayout | async)?.chart?.cols"
      [rowspan]="(cardLayout | async)?.chart?.rows"
    >
      card 4
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="(cardLayout | async)?.graph?.cols"
      [rowspan]="(cardLayout | async)?.graph?.rows"
    >
      card 5
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="(cardLayout | async)?.table?.cols"
      [rowspan]="(cardLayout | async)?.table?.rows"
    >
      card 6
    </mat-grid-tile>
  </mat-grid-list>
</div>
